
<%- include('../partials/admin/header.ejs') %>


<section class="content-main mt-80 mb-80">
    <div class="card mx-auto card-login">
        <div class="card-body">
            <h4 class="card-title mb-4">Forgot Your Password?</h4>
            <form method ="post" action="/forgot-password" id="adminLoginForm">
                <div class="mb-3">
                    <label for="">Confirm your Email</label>
                    <input class="form-control" placeholder="enter email" type="text" name="email" id="email" required>
                </div> 
              
                <div class="mb-4">
                    <button type="submit" class="btn btn-primary w-100"> Send Email </button>
                </div> 
            </form>
            <button class="text-center small text-muted mb-15" style="border: none; outline: none; background: none; float: right;">go back to login page?</button>

          
        </div>
    </div>
</section>

<%- include('../partials/admin/footer.ejs') %>