<nav id="navbar_main" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/admin/dashboard">Shoestore Admin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/dashboard">
                        <i class="material-icons md-dashboard"></i> Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/category">
                        <i class="material-icons md-category"></i> Categories
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/users">
                        <i class="material-icons md-people"></i> Customers
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/addProducts">
                        <i class="material-icons md-add_box"></i> Add Products
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/products">
                        <i class="material-icons md-inventory_2"></i> Products
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/orders">
                        <i class="material-icons md-shopping_cart"></i> Orders
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/coupons">
                        <i class="material-icons md-local_offer"></i> Coupons
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/reports">
                        <i class="material-icons md-assessment"></i> Reports
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav> 